Repository sharvinzlife/Stellar-Media-Organizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Media Organizer Pro
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.10
  node: "18.0.0"

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

  # Python - Ruff (fast linter + formatter)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        name: ruff lint
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        files: ^(webapp/backend/|.*\.py$)
      - id: ruff-format
        name: ruff format
        types_or: [python, pyi]
        files: ^(webapp/backend/|.*\.py$)

  # Python - Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: [-c, pyproject.toml, -r]
        additional_dependencies: ["bandit[toml]"]
        files: ^(webapp/backend/|.*\.py$)
        exclude: tests/

  # Python - Type checking (optional, can be slow)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^webapp/backend/app/
        args: [--config-file=webapp/backend/pyproject.toml]
        additional_dependencies:
          - pydantic>=2.0
          - fastapi>=0.100
          - types-requests

  # JavaScript/React - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp/frontend && npx eslint --fix --ext .ts,.tsx src/'
        language: system
        files: ^webapp/frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript - Prettier (optional, for consistent formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd webapp/frontend && npx prettier --write'
        language: system
        files: ^webapp/frontend/.*\.(ts|tsx|css|json|md)$
        exclude: node_modules/

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typecheck
        name: typescript typecheck
        entry: bash -c 'cd webapp/frontend && npx tsc --noEmit'
        language: system
        files: ^webapp/frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Commit message format
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: (package-lock\.json|\.env\.example)

ci:
  autofix_commit_msg: "style: auto-fix by pre-commit hooks"
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  skip: [eslint, prettier]  # Skip in CI, run separately

docs: Add comprehensive README with mermaid diagrams and badges
  README.md
Due: none

feat: Add glitch effect to header + logo assets
  assets/stellar-logo-1.mp4
  assets/stellar-logo-2.mp4
  assets/stellar-logo.jpeg
  webapp/frontend/src/components/Header.tsx
  webapp/frontend/src/index.css
Due: eslint, prettier, typecheck

docs: Add logo to README header
  README.md
Due: none

docs: Add animated GIF logo to README
  README.md
  assets/stellar-logo.gif
Due: none

docs: Update logo GIF with better quality animation
  assets/stellar-logo.gif
Due: none

docs: Rename logo file to bust GitHub cache
  README.md
  assets/stellar-animated-logo.gif
Due: none

v2.1.0: Enhanced dashboard, FFmpeg 8.0 fix, real-time progress
  README.md
  assets/screenshots/.gitkeep
  music_downloader.py
  music_organizer.py
  package.json
  standalone_backend.py
  webapp/frontend/src/components/ActiveConversions.tsx
  webapp/frontend/src/components/MusicOrganizer.tsx
Due: eslint, prettier, typecheck

chore: remove .kiro from git tracking
  .gitignore
  .kiro/settings/mcp.json
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

🚀 v3.0.0 - NAS Integration & UI Overhaul
  CHANGELOG.md
  NAS_INTEGRATION.md
  README.md
  alldebrid_downloader.py
  config.env.example
  config.py
  core/__init__.py
  core/ai_metadata_extractor.py
  core/discogs_lookup.py
  core/metadata_client.py
  core/omdb_client.py
  core/smart_renamer.py
  core/smb_manager.py
  core/tmdb_client.py
  media_organizer.py
  music_downloader.py
  music_organizer.py
  package.json
  requirements.txt
  standalone_backend.py
  webapp/frontend/src/App.tsx
  webapp/frontend/src/components/DownloadAnimation.tsx
  webapp/frontend/src/components/Footer.tsx
  webapp/frontend/src/components/Header.tsx
  webapp/frontend/src/components/MusicDownloadPanel.tsx
  webapp/frontend/src/components/MusicOrganizer.tsx
  webapp/frontend/src/components/NASPanel.tsx
  webapp/frontend/src/components/OperationPanel.tsx
  webapp/frontend/src/index.css
  webapp/frontend/src/lib/api.ts
  webapp/frontend/src/types/index.ts
Due: eslint, prettier, typecheck

🎨 v3.0.0 - Retro TV Footer & Enhanced Docs
  CHANGELOG.md
  README.md
  config.env.example
  music_downloader.py
  webapp/frontend/src/components/Footer.tsx
  webapp/frontend/src/index.css
Due: eslint, prettier, typecheck

📺 Retro TV redesign with antennas & wooden cabinet
  webapp/frontend/src/components/Footer.tsx
Due: eslint, prettier, typecheck

📺 Grey/black TV design with buttons & enhanced glitch
  webapp/frontend/src/components/Footer.tsx
  webapp/frontend/src/index.css
Due: eslint, prettier, typecheck

📺 TV with wooden frame & NAS fix
  webapp/frontend/src/components/Footer.tsx
Due: eslint, prettier, typecheck

📺 Wider TV screen with centered text & cool effects
  webapp/frontend/src/components/Footer.tsx
Due: eslint, prettier, typecheck

🎨 v3.1.0 - Major UI Design Release
  config.py
  package.json
  webapp/frontend/src/components/Footer.tsx
  webapp/frontend/src/components/Header.tsx
Due: eslint, prettier, typecheck

✨ Retro jukebox footer with YouTube music playback
  webapp/frontend/src/components/Footer.tsx
  webapp/frontend/src/index.css
  webapp/frontend/src/vite-env.d.ts
Due: eslint, prettier, typecheck

🎵 Jukebox UI fixes: lyrics, compact layout, play state sync
  webapp/frontend/src/components/Footer.tsx
Due: eslint, prettier, typecheck

feat: Add NAS destinations & AllDebrid API endpoints
  webapp/backend/app/api/routes.py
  webapp/backend/app/core/config.py
  webapp/backend/requirements.txt
  webapp/frontend/package-lock.json
  webapp/frontend/src/components/NASPanel.tsx
  webapp/frontend/src/index.css
Due: eslint, prettier, typecheck

feat: Add system dependency checks to start script
  webapp/start_dev.sh
Due: none

refactor: Reorder UI - Processing options after AllDebrid downloads
  webapp/frontend/src/App.tsx
Due: eslint, prettier, typecheck

feat: Smart audio language detection and NAS routing
  webapp/backend/app/api/routes.py
  webapp/backend/app/services/media_service.py
Due: none

feat: Integrate NAS destination into AllDebrid panel
  webapp/frontend/src/components/AllDebridPanel.tsx
Due: eslint, prettier, typecheck

refactor: Simplify OperationPanel - remove duplicate NAS selection
  webapp/frontend/src/components/OperationPanel.tsx
Due: eslint, prettier, typecheck

feat: Implement AllDebrid download with job tracking
  webapp/backend/app/api/routes.py
  webapp/frontend/src/components/AllDebridPanel.tsx
Due: eslint, prettier, typecheck

feat(v3.2.0): Plex integration, service manager & smart renaming
  CHANGELOG.md
  README.md
  alldebrid_downloader.py
  config.env.example
  config.py
  core/database.py
  core/plex_client.py
  core/smart_renamer.py
  core/tautulli_client.py
  package.json
  scripts/install-service.sh
  scripts/stellar-service.sh
  scripts/systemd/stellar-media-organizer.service
  scripts/watchdog.sh
  standalone_backend.py
  uv.lock
  webapp/backend/app/api/routes.py
  webapp/backend/app/core/config.py
  webapp/backend/uv.lock
  webapp/frontend/package.json
  webapp/frontend/src/App.tsx
  webapp/frontend/src/components/AllDebridPanel.tsx
  webapp/frontend/src/components/JobHistory.tsx
  webapp/frontend/src/components/LogViewer.tsx
  webapp/frontend/src/components/PlexDashboard.tsx
  webapp/frontend/src/components/PosterUploadModal.tsx
  webapp/frontend/src/index.css
  webapp/frontend/src/types/index.ts
  webapp/frontend/tsconfig.node.tsbuildinfo
  webapp/frontend/tsconfig.tsbuildinfo
  webapp/frontend/vite.config.d.ts
  webapp/frontend/vite.config.js
Due: eslint, prettier, typecheck

feat: Fix Spotify downloads with Python 3.12 venv (v3.2.1)
  CHANGELOG.md
  README.md
  core/nas_transfer.py
  media_organizer.py
  music_downloader.py
  music_organizer.py
  package.json
  scripts/process_music_album.py
  standalone_backend.py
  webapp/frontend/package.json
  webapp/frontend/src/components/ActiveConversions.tsx
  webapp/frontend/src/components/AllDebridPanel.tsx
  webapp/frontend/src/components/MusicActivityDashboard.tsx
  webapp/frontend/src/components/MusicAllDebridPanel.tsx
  webapp/frontend/src/components/MusicDownloadPanel.tsx
  webapp/frontend/src/components/MusicOrganizer.tsx
Due: eslint, prettier, typecheck

fix: Correct spotdl command-line arguments for v4.4.3
  music_downloader.py
Due: none

feat: Add cover extraction and V.A. metadata fix for all music sources
  music_downloader.py
  standalone_backend.py
Due: none

fix: Add incremental progress updates during NAS transfer
  standalone_backend.py
Due: none

fix: Load environment variables and improve Spotify cover extraction
  music_downloader.py
  standalone_backend.py
Due: none

fix: Preserve metadata during 7.0 surround processing and fix track numbers
  music_organizer.py
Due: none

feat: Add NAS metadata fix script for existing files
  scripts/fix_nas_metadata.py
Due: none

fix: Force playlist name as ALBUM and ALBUMARTIST for compilations
  scripts/fix_nas_metadata.py
Due: none

fix: Detect category from original filename before smart rename
  standalone_backend.py
Due: none

fix: Clean up empty original folders after smart rename
  core/smart_renamer.py
Due: none

feat: Add detailed logging for category detection debugging
  standalone_backend.py
Due: none

🚀 v3.3.0: Code Cleanup, Centralized Constants & Bug Fixes
  CHANGELOG.md
  alldebrid_downloader.py
  config.py
  core/__init__.py
  core/ai_metadata_extractor.py
  core/constants.py
  core/database.py
  core/discogs_lookup.py
  core/exceptions.py
  core/imdb_client.py
  core/language_utils.py
  core/metadata_client.py
  core/nas_transfer.py
  core/omdb_client.py
  core/plex_client.py
  core/smart_renamer.py
  core/smb_manager.py
  core/tautulli_client.py
  core/tmdb_client.py
  gpu_converter_service.py
  imdb_lookup.py
  media_organizer.py
  music_downloader.py
  music_organizer.py
  neonoir_cleaner.py
  package.json
  scripts/fix_nas_metadata.py
  scripts/process_music_album.py
  standalone_backend.py
  tests/test_config.py
  tests/test_exceptions.py
  webapp/backend/app/api/routes.py
  webapp/backend/app/core/config.py
  webapp/backend/app/main.py
  webapp/backend/app/models/schemas.py
  webapp/backend/app/services/media_service.py
  webapp/backend/app/services/video_converter.py
  webapp/frontend/package.json
Due: prettier

🔧 Fix: Deobfuscate leetspeak titles (Z00topia → Zootopia)
  core/smart_renamer.py
Due: none

🎉 v3.4.0: Celebratory popups, green sparkle progress bar & live logs
  CHANGELOG.md
  core/__init__.py
  package.json
  webapp/frontend/package.json
  webapp/frontend/src/components/ActiveConversions.tsx
  webapp/frontend/src/components/AllDebridPanel.tsx
  webapp/frontend/src/components/LogViewer.tsx
  webapp/frontend/src/index.css
  webapp/frontend/tsconfig.tsbuildinfo
Due: eslint, prettier, typecheck
